<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/sb-admin-2/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/moviehunter/css/style.css" />
    
    <link rel="stylesheet" href="~/moviehunter/css/ie6.css" />

    <script src="https://kit.fontawesome.com/8e1b0b6f3d.js" crossorigin="anonymous"></script>
    <script src="~/moviehunter/js/jquery-1.4.2.min.js"></script>
    <script src="~/moviehunter/js/jquery.jcarousel.pack.js"></script>

    @RenderSection("Styles", required: false)
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ps-3" asp-area="" asp-controller="Home" asp-action="Index">Movie Website</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                            Users
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Film" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-film"></i></div>
                        Films
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Genre" asp-action="ListGenres">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-film"></i></div>
                        Genre
                    </a>
                </li>
               @if(User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="UserFilmLike" asp-action="LikedFilms">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-cart-shopping"></i></div>
                            User Film Likes
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="Admin" asp-controller="UserFilmLike" asp-action="DislikedFilms">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-cart-shopping"></i></div>
                            User Film Dislikes
                        </a>
                    </li>
                }
             
               
            </ul>
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user fa-fw"></i> @User.Identity.Name
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Panel</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Edit" asp-route-userName="@User.Identity.Name">Edit</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a class="dropdown-item" asp-controller="Genre" asp-action="ListGenres" asp-area="Admin">Genre List</a></li>
                            <li><a class="dropdown-item" asp-controller="Film" asp-action="Index" asp-area="Admin">Film List</a></li>
                        }

                        <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>                       
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <div id="notification-area"></div>
                @RenderBody()
            </main>
        </div>
    </div>
    <footer >
        <div >
            <div">
                <div class="text-muted">Copyright &copy; Omer</div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="~/sb-admin-2/js/scripts.js"></script>
    <script src="~/sb-admin-2/assets/demo/chart-area-demo.js"></script>
    <script src="~/sb-admin-2/assets/demo/chart-bar-demo.js"></script>
    <script src="~/sb-admin-2/js/datatables-simple-demo.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
